#pdf-canvas {
  border: 1px solid black;
  direction: ltr;
}

#text-layer {
  position: absolute;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1.0;
}

#text-layer>span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

#annotation-layer {
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
}

#annotation-layer>span {
  position: absolute;
}